.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.Cardfront {
  margin: 10px;
  width: 447px;
  height: 246px;
  border-radius: 10px;
  background-image: url("assests/cardfront.png");
  background-repeat: none;
}

.CardBack {
  border-radius: 10px;
  margin: 10px;
  width: 447px;
  height: 246px;
  border: 2px solid red;
  background: linear-gradient(107deg, #fff 0%, #d9d9d9 103.94%);
  filter: drop-shadow(10px 11px 62px rgba(0, 0, 0, 0.19));
}
.cvvv {
  /* width: 448px; */
  height: 52px;
  background-color: #000;
}
.cvv_number {
  width: 361px;
  height: 38px;
  border-radius: 4px;
  /* border: 1px solid #000; */
  background: #adb6bf;
  text-align: end;
}
