.formbox {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.formbox label {
  color: #404040;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.86px;
  padding: 5px 0px 5px 0px;
}

.formbox input {
  width: 382px;
  height: 44px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  background: #d9d9d9;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  outline: none;
  padding: 0px 5px 0px 5px;
}
.cardholder_name_section {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.card_number_section {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.Date_cvv {
  width: 382px;
  padding-bottom: 10px;
  display: flex;
  gap: 20px;
}

.Date {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-top: 5px;
}

.Date input {
  /* margin: 5px; */
  width: 70px;
  height: 44px;
}

.cvv input {
  width: 189px;
  height: 44px;
  margin-top: 5px;
}

.formbox button {
  margin-top: 5px;
  width: 392px;
  height: 53px;
  border-radius: 6px;
  background: #220930;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.16px;
}

#warning {
  color: #f81212;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
